
.searchBar {
    width: 100%;
    height: 709px;
    background-image: url('abcd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.searchBar input {
    margin-top: 13px;
    height: 35px;
    width: 70%;
    border: solid 3px black;
}
.searchButton {
    height: 40px;
    align-items: stretch;
    width: 50px;
    border-top: solid 3px black;
    border-right: solid 3px black;
    border-bottom: solid 3px black;
}

.temperatureDetails {
    font-size: large;
    color: blueviolet;
}
.tempDetails {
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    font-weight: bolder;
    max-height: fit-content;
    font-size: xx-large;
    margin-top: 250px;
    
}
.tempDetails p {
    font-size: 50px;
    color: aliceblue;
}
